@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.light{
  --main-body-bg:#fff
}


.dark{
  --main-body-bg:#3d0c02
}


.mainContainer{
  background-color: var(--main-body-bg);
}